{% extends "blog/base.html" %}
  
{% block content %}
  

<div class = "blogbox" style="width:70%; height:600px; margin:auto; background-color:silver; border-radius:10%" > 
<h1 style="text-align: center ;">{{ object.title }}</h1>    
<p>{{object.author}} - {{object.date_posted}}<p>
<hr/>
<p style="font-size: 20px;width: 90%; background-color: whitesmoke; margin:auto; height: 70%;">{{object.content}}</p>
<p style="text-align: center;"><a href="{% url 'post-update' object.id %}" > Edit Post </a></p>
<p style="text-align: center;"><a href="{% url 'post-delete' object.id %}" > Delete Post </a></p>
</div>










{% endblock content %}